@import url("https://fonts.googleapis.com/css2?family=Dongle&family=WDXL+Lubrifont+TC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: black;
  color: #fff;
}

.wrap .content-inner {
  max-width: 1400px;
  margin: 0 auto;
}
.wrap header {
  z-index: 100;
  background: rgba(5, 6, 15, 0.8705882353);
  line-height: 80px;
  position: fixed;
  width: 100%;
}
.wrap header .logo a {
  color: #fff;
  display: flex;
  align-items: center;
}
.wrap header .logo a img {
  margin-right: 10px;
}
.wrap header .content-inner div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
.wrap header .content-inner div ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.wrap header .content-inner div ul li {
  font-size: 1.25rem;
  font-weight: 600;
}
.wrap header .content-inner div ul li a {
  color: #fff;
}
.wrap .index {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
.wrap .index .content-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}
.wrap .main {
  padding: 100px 0;
}
.wrap .skill-list {
  margin-top: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.wrap .skill-list li {
  width: calc(25% - 20px);
}
.wrap .about-wrap {
  font-size: 1.25rem;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap .about-wrap .big-text {
  font-size: 5rem;
}
.wrap .about-wrap .photo-wrap {
  font-size: 35rem;
  line-height: 1;
  text-shadow: 10px 10px 0 #646cff;
}
.wrap .contact-wrap {
  max-width: 600px;
  margin: 0 auto;
}
.wrap .contact-wrap form input,
.wrap .contact-wrap form textarea,
.wrap .contact-wrap form button {
  width: 100%;
  line-height: 40px;
  padding: 0 10px;
}
.skill-card:hover .card-wrap {
  transform: rotateY(180deg);
}
.skill-card .card-wrap {
  border-radius: 30px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: perspective(800px) rotateY(0);
  transform-style: preserve-3d;
  transition: 0.5s;
  background-color: #fff;
}
.skill-card .card-wrap > div {
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
.skill-card .card-wrap .card-img img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.skill-card .card-wrap .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #001ba1;
  background: linear-gradient(180deg, rgba(0, 27, 161, 0.7) 0%, rgba(87, 141, 199, 0.74) 50%, rgba(255, 133, 239, 0.6) 100%);
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  flex-direction: column;
  color: #fff;
  border-radius: 30px;
}
.skill-card .card-wrap .card-back .card-title {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
.skill-card .card-wrap .card-back .card-per {
  font-size: 2.5rem;
}
.skill-card .card-wrap .num {
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 3rem;
}/*# sourceMappingURL=SkillCard.css.map */