@import url("https://fonts.googleapis.com/css2?family=Dongle&family=WDXL+Lubrifont+TC&display=swap");

$메인컬러: #a1ceff;
$제목컬러: #e97fff;
$메인글자: #333;
$배경: #05060fde;
$둥글기: 30px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $메인글자;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: black;
  color: #fff;
}

@mixin myFlex($gap: 0, $jc: space-between) {
  display: flex;
  justify-content: $jc;
  align-items: center;
  gap: $gap;
  flex-wrap: wrap;
}

.wrap {
  .content-inner {
    max-width: 1400px;
    margin: 0 auto;
  }

  header {
    z-index: 100;
    background: $배경;
    line-height: 80px;
    position: fixed;
    width: 100%;

    .logo {
      a {
        color: #fff;
        display: flex;
        align-items: center;

        img {
          margin-right: 10px;
        }
      }
    }

    .content-inner {
      div {
        @include myFlex();

        ul {
          @include myFlex(50px);

          li {
            font-size: 1.25rem;
            font-weight: 600;

            a {
              color: #fff;
            }

            a:hover {
              color: $메인컬러;
            }

            .active {
              color: $메인컬러;
              font-weight: bold;
              border-bottom: 2px solid $메인컬러;
            }
          }
        }
      }
    }
  }

  .index {
    height: 100vh;
    @include myFlex();

    .content-inner {
      @include myFlex(100px);
    }
  }

  .main {
    padding: 100px 0;
  }

  .todolist,
  .contact {
    height: 100vh;
  }

  .skill-list {
    margin-top: 100px;
    @include myFlex(20px, start);

    li {
      width: calc(100% / 4 - 20px);
    }
  }

  .about-wrap {
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

    .photo-wrap {
      margin-right: 100px;
      font-size: 35rem;
      line-height: 1;
      text-shadow: 10px 10px 0 #646cff;
    }

    .big-text {
      font-size: 5rem;
    }
  }

  .introduction {
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-wrap {
    padding-top: 100px;
    max-width: 600px;
    margin: 0 auto;

    form {
      input,
      textarea,
      button {
        font-size: 1.25rem;
        font-weight: 700;
        width: 100%;
        padding: 20px 10px;
      }

      textarea {
        padding-bottom: 90px;
      }

      button {
        color: #fff;
        border: none;
        background: $메인컬러;
      }

      button:hover {
        background: #50a1f7;
        cursor: pointer;
      }
    }
  }

  footer {
    text-align: center;
    background: $배경;
    line-height: 80px;
    color: $메인컬러;
  }
}
